<%= render 'shared/section_title', title: @classroom.new_record? ? 'Create New Classroom' : 'Editing Classroom' %>

<div class="container kmSection">
  <%= form_for(@classroom, html: {class: 'form-horizontal form-classic form-vpad'}) do |f| %>
    <%= render 'shared/error_messages', object: @classroom %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <%= f.label :name, "Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :school_id, "School", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <div class="dropdown select">
              <% schools = School.all %>
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @classroom.school ? @classroom.school.name : schools.first.name %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% schools.each do |school| %>
                  <li><a href="javascript:" data-id="<%= school.id %>"><%= school.name %></a></li>
                <% end %>
              </ul>
              <%= f.hidden_field :school_id, value: @classroom.school ? @classroom.school.id : schools.first.id %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :classroom_type_id, "Classroom Type", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <div class="dropdown select">
              <% classrooms = ClassroomType.all %>
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @classroom.class_type ? @classroom.class_type.type_name : classrooms.first.type_name %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% classrooms.each do |classroom| %>
                  <li><a href="javascript:" data-id="<%= classroom.id %>"><%= classroom.type_name %></a></li>
                <% end %>
              </ul>
              <%= f.hidden_field :classroom_type_id, value: @classroom.class_type ? @classroom.class_type.id : classrooms.first.id %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row text-center actions">
      <%= link_to 'Back', classrooms_path, class: 'btn btn-danger btn-large btn-wide btn-simple' %>
      <% if @classroom.new_record? %>
        <%= f.submit 'Create Classroom', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% else %>
        <%= link_to 'Show', @classroom, class: 'btn btn-warning btn-large btn-wide btn-simple' %>
        <%= f.submit 'Update Classroom', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% end %>
    </div>

  <% end %>
</div>
