<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<p>
  <strong>School:</strong>
  <%= link_to @classroom.school.name, @classroom.school if @classroom.school %>
</p>

<%= form_tag activate_classroom_path(@classroom) do %>
  <table>
    <tr>
      <th>Kid</th>
      <% @bubble_groups.each do |bubble_group| %>
        <th><%= link_to bubble_group.name, bubble_group %></th>
      <% end %>
    </tr>
    <% @classroom.kids.each do |kid| %>
      <tr>
        <td><%= link_to kid.full_name, kid %></td>
        <% @bubble_groups.each do |bubble_group| %>
          <td>
            <% status = kid.bubble_group_statuses.find_by(bubble_group: bubble_group) %>
            <% if status %>
              <%= select_tag "active[#{status.id}]", options_for_select(BubbleGroupStatus::ACTIVE_SELECT_OPTIONS, status.active) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Save" %>
<% end %>
<br>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
