<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <% if @kid.new_record? %>
          <h4>Create New Kid</h4>
        <% else %>
          <h4>Editing Kid</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= form_for @kid, html: {class: 'form-horizontal form-classic form-vpad'} do |f| %>
  <%= render 'shared/error_messages', object: @kid %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if @kid.persisted? %>
          <div class="form-group">
            <%= f.label :access_token, "Access Token", class: "col-sm-4 control-label text-main" %>
            <div class="col-sm-8">
              <%= f.text_field :access_token, placeholder: 'School123', class: 'form-control' %>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.hidden_field :classroom_id, id: 'classroom_id', value: @kid.classroom.try(:id) %>
          <label class="col-sm-4 control-label text-main">Classroom</label>
          <div class="col-sm-8">
            <div class="dropdown select">
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @kid.classroom.try(:name) || @classrooms[0][1] %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% @classrooms.each do |cr| %>
                  <li><a href="javascript:" data-id="<%= cr[0] %>"><%= cr[1] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :first_name, "First Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, "Last Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.hidden_field :gender, id: 'gender', value: @kid.gender %>
          <label class="col-sm-4 control-label text-main">Gender</label>
          <div class="col-sm-8">
            <div class="dropdown select">
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @kid.persisted? ? @kid.humanize_gender : @genders.first[0] %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% @genders.each do |k,v| %>
                  <li><a href="javascript:" data-id="<%= v %>"><%= k %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :age, "Age", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :age, placeholder: '10', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.hidden_field :primary_language, id: 'primary_language', value: @kid.primary_language %>
          <label class="col-sm-4 control-label text-main">Primary Language</label>
          <div class="col-sm-8">
            <div class="dropdown select">
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @kid.primary_language || @languages.first[0] %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% @languages.each do |name, title| %>
                  <li><a href="javascript:" data-id="<%= title %>"><%= name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group" id="add_parent">
          <div class="col-sm-12">
            <div id="parents">
              <%= render 'parents', f:f %>
            </div>
            <%= link_to 'javascript:;', class:'control-label add-template', data: {target: '#add_parent', location: 'before'} do %>
              Add Parent
            <% end %>
          </div>
        </div>
        <div class="row text-center actions">
          <div class="col-md-<%= @kid.persisted? ? '7' : '6' %> col-md-offset-3">
            <%= link_to 'Cancel', kids_path, class: 'btn btn-large btn-warning btn-wide btn-simple' %>
            <% if @kid.persisted? %>
              <%= link_to 'Delete', @kid, method: :delete,  class: 'btn btn-danger btn-large btn-wide btn-simple' %>
              <%= f.submit 'Confirm', class: 'btn btn-info btn-large btn-wide btn-simple' %>
            <% else %>
              <%= f.submit 'Create Kid', class: 'btn btn-info btn-large btn-wide btn-simple' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $('.dropdown.select ul > li > a').click(function(){
      var id = $(this).data('id');
      $(this).closest('.form-group').find('input[type="hidden"]').val(id);
    });

    var location = parseInt(<%= @first_new_parent %>);
    $(document).on('click', 'a.add-template', function(){
      var el = $(this);
      $('#parents .form-group.template-body').eq(location).removeClass('hidden');
      location++;
    });

    $(document).on('click', 'a.remove-template', function() {
      $(this).closest('.template-body').remove();
    });
  });
</script>
