<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <% if @kid.new_record? %>
          <h4>Create New Kid</h4>
        <% else %>
          <h4>Editing Kid</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= form_for @kid, html: {class: 'form-horizontal form-classic form-vpad'} do |f| %>
  <%= render 'shared/error_messages', object: @kid %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if @kid.persisted? %>
          <div class="form-group">
            <%= f.label :access_token, "Access Token", class: "col-sm-4 control-label text-main" %>
            <div class="col-sm-8 resetToken">
              <%= f.label :access_token, @kid.access_token, class: "control-label text-main v-middle" %>
              &nbsp;&nbsp;
              <%= link_to "Change ID", reset_access_token_kid_path(@kid), method: :post, remote: true, class: "btn btn-info btn-wide btn-simple" %>
            </div>
          </div>
        <% end %>
        <% if @kid.new_record? && @kid.classroom %>
          <div class="form-group">
            <label class="col-sm-4 control-label text-main">Classroom</label>
            <div class="col-sm-8">
              <label class="col-sm-4 control-label text-main"><%= @kid.classroom.try(:name) %></label>
            </div>
          </div>
        <% else %>
          <div class="form-group">
            <label class="col-sm-4 control-label text-main">Classroom</label>
            <div class="col-sm-8">
              <div class="dropdown select">
                <%= f.hidden_field :classroom_id, id: 'classroom_id', value: @kid.classroom.try(:id) %>
                <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="value"><%= @kid.classroom.try(:name) || @classrooms[0][1] %></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <% @classrooms.each do |cr| %>
                    <li><a href="javascript:" data-id="<%= cr[0] %>"><%= cr[1] %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <%= f.hidden_field :classroom_id, id: 'classroom_id', value: @kid.classroom.try(:id) %>
        <div class="form-group">
          <%= f.label :first_name, "First Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, "Last Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label text-main">Gender</label>
          <div class="col-sm-8">
            <div class="dropdown select">
              <%= f.hidden_field :gender, id: 'gender', value: @kid.gender %>
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @kid.persisted? ? @kid.humanize_gender : @genders.keys.first %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% @genders.each do |k,v| %>
                  <li><a href="javascript:" data-id="<%= v %>"><%= k %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :age, "Age", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :age, placeholder: '10', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label text-main">Primary Language</label>
          <div class="col-sm-8">
            <div class="dropdown select" data-target='primary_language'>
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @kid.primary_language.present? ? @kid.primary_language : @languages.keys.first %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% @languages.each do |name, title| %>
                  <li><a href="javascript:" data-id="<%= title %>"><%= name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group hidden" id="custom_language">
          <div class="col-sm-8 col-sm-offset-4">
            <%= f.text_field :primary_language, id: 'primary_language', value: @kid.primary_language, placeholder: 'Choose Language', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group" id="add_parent">
          <div class="col-sm-12">
            <div id="parents">
              <%= render 'parents', f:f %>
            </div>
            <%= link_to 'javascript:;', class:'control-label add-template hidden', data: {target: '#add_parent', location: 'before'} do %>
              Add Parent
            <% end %>
          </div>
        </div>
        <div class="row text-center actions">
          <%= link_to 'Cancel', dashboard_classroom_path(classroom: @kid.classroom.try(:id)), class: 'btn btn-large btn-warning btn-wide btn-simple' %>
          <% if @kid.persisted? %>
            <%= link_to 'Delete', @kid, method: :delete,  class: 'btn btn-danger btn-large btn-wide btn-simple' %>
            <%= f.submit 'Confirm', class: 'btn btn-info btn-large btn-wide btn-simple' %>
          <% else %>
            <%= f.submit 'Create Kid', class: 'btn btn-info btn-large btn-wide btn-simple' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $(document).on('click', 'a.add-template', function(){
      var templates = $('#parents .template-body');
      if (templates.filter(':visible').length < 2) {
        t = templates.filter('.hidden').first();
        t.find('input').attr('disabled', false);
        t.removeClass('hidden');
      }
      $(this).toggleClass('hidden', templates.filter(':visible').length >= 2)
    });

    $(document).on('click', 'a.remove-template', function() {
      var parent = $(this).closest('.template-body');
      if (parent.hasClass('new-record'))
        parent.addClass('hidden').find('input').attr('disabled', true);
      else
        parent.remove();
      $('a.add-template').removeClass('hidden');
    });

    if ($('#parents .template-body:visible').length < 2)
      $('a.add-template').removeClass('hidden');

    $(document).on('click', '.dropdown[data-target="primary_language"] li a', function(){
      $('#custom_language').toggleClass('hidden', !$(this).closest('li').filter(':last-child').length);
    });

    $('.resetToken').on('ajax:success', function(e, data, status){
      $(this).find('label').text(data.kid.access_token);
    });

  });
</script>
