<% @kid.family_relationships.each_with_index do |family_rel, index| %>
  <% start_hidden = family_rel.new_record? && family_rel.errors.none? %>
  <div class="template-body <%= 'hidden' if start_hidden %> <%= 'new-record' if family_rel.new_record? %>" id="parent#<%= family_rel.parent.id %>">
    <%= f.fields_for :family_relationships, family_rel do |fr| %>
      <%= fr.fields_for :parent do |parent| %>
        <div class="kmSection">
          <h3>Parent Information</h3>
          <div class="form-group">
            <label class="col-sm-4 control-label text-main">Email:</label>
            <div class="col-sm-8">
              <%= parent.hidden_field :role_id, value: Role.find_by(name: 'Parent').id, disabled: start_hidden %>
              <%= parent.text_field :email, placeholder: 'email@example.com',maxlength: 50, class: 'form-control', disabled: start_hidden %>
            </div>
            <div class="off-field off-right">
              <div class="col-sm-12">
                <% if fr.object.parent.new_record? %>
                  <%= link_to 'javascript:;', id:'beforeCreateParent', class:'text-danger control-label remove-template remove-modal-trigger' do %>
                    Remove
                  <% end %>
                <% else %>
                  <%= link_to 'Remove', users_admin_path(fr.object.parent), method: :delete, id:'afterCreateParent', remote: true, class:'text-danger control-label remove-template remove-modal-trigger' %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label text-main">First Name:</label>
            <div class="col-sm-8">
              <%= parent.text_field :first_name, placeholder: 'First Name',maxlength: 25, class: 'form-control', disabled: start_hidden %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label text-main">Last Name:</label>
            <div class="col-sm-8">
              <%= parent.text_field :last_name, placeholder: 'Last Name',maxlength: 25, class: 'form-control', disabled: start_hidden %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label text-main">Direct Phone:</label>
            <div class="col-sm-8">
              <%= parent.text_field :direct_phone, placeholder: 'Direct Phone', class: 'form-control', maxlength: 50, disabled: start_hidden %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>



<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel">
  <div class="modal-dialog removeModal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove parent:</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="removeSend" data-dismiss="modal">Remove</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".remove-modal-trigger").click(function(e, data){
      if (data && data.pass) {
        return true;
      }
      $(this).attr('id', $(this).attr('id') + "1");
      $('#removeModal').data('id', $(this).attr('id')).modal();
      return false;
    });
    $('#removeModal #removeSend').click(function(){
      $("#" + $(this).closest('.modal').data('id')).trigger('click', {pass: true});
    });
  });
</script>