<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Reports for <%= @kid.full_name %></h4>
      </div>
      <div class="pull-right">
        <%= link_to download_report_kid_path(@kid), class: 'btn btn-info btn-large btn-simple' do %>
          <i class="fa fa-print"></i>
          <span> Print Report as PDF</span>
        <% end %>
        <%= link_to 'Back to Classroom','javascript:', class: 'btn btn-warning btn-large btn-simple' unless current_user.parent? %>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row">
    <div class="col-md-4">
      <div class="kmSection">

        <h4>Information</h4>
        <div class="grid grid-pad">
          <div class="grid-row">
            <div class="grid-col">
              <div class="media">
                <div class="media-left">
                  <%= image_tag 'student_avatar_medium.jpg', class: 'media-object' %>
                </div>
                <div class="media-body media-middle">
                  <h3 class="text-main"><%= @kid.full_name %></h3>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="grid-col">
              <table class="table solid fit continual font-large">
                <tbody>
                <% data = @kid.full_info.tap{|fi| fi.delete('Name')}%>
                <% data.each do |k, v| %>
                  <tr>
                    <td>
                      <span><%= k %></span>
                    </td>
                    <td class="text-right">
                      <span class="text-main"><%= v %></span>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-md-8">
      <% @reports.each do |title, categories| %>
        <div class="kmSection">
          <h4><%= title %></h4>
          <%= render 'home/mixed_bar_chart', categories: categories %>
        </div>
      <% end %>
    </div>
  </div>
</div>