<%= render 'shared/section_title', title: 'View Kid' %>

<div class="container kmSection">
  <div class="row text-center">
    <%= image_tag "student_avatar_medium.jpg", class: 'img-responsive center-block' %>
  </div>
  <% items = {
    'Access Token:' => "#{@kid.access_token}",
    'Classroom:' => "#{@kid.classroom ? (link_to @kid.classroom.name, @kid.classroom) : "None"}",
    'First Name:' => "#{@kid.first_name}",
    'Last Name:' => "#{@kid.last_name}",
    'Gender:' => "#{@kid.humanize_gender}",
    'Age:' => "#{@kid.age}",
    'Primary Language:' => "#{@kid.primary_language}"
  } %>
  <div class="row text-left kmSection">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table solid">
        <tbody>
          <% items.each do |key, value| %>
            <tr class="col-pad text-main">
              <td></td>
              <td class="font-xlarge minimal">
                <%= raw key %>
              </td>
              <td class="minimal"></td>
              <td class="font-xlarge equal">
                <%= raw value %>
              </td>
            </tr>
          <% end %>
          <tr class="section">
            <td></td>
            <td colspan="3" class="fit-left">
              <span class="font-xlarge">Parent Information</span>
            </td>
          </tr>
          <% @kid.parents.each_with_index do |parent, parent_index| %>
            <% parent_fields = {
              'Email:' => "#{parent.email}",
              'First Name:' => "#{parent.first_name}",
              'Last Name:' => "#{parent.last_name}"
            } %>
            <% parent_fields.each do |key, value| %>
              <tr class="col-pad text-main <%= 'subsection' if key == parent_fields.keys.first && parent_index > 0 %>">
                <td></td>
                <td class="font-xlarge minimal">
                  <%= raw key %>
                </td>
                <td class="minimal"></td>
                <td class="font-xlarge equal">
                  <%= raw value %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% if current_user.admin? %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <table id="table" data-toggle="table" data-cache="false" data-height="299">
            <thead>
              <tr>
                <th><span class="font-xlarge ">Bubble Group:</span></th>
                <th><span class="font-xlarge ">Status:</span></th>
                <th><span class="font-xlarge ">Actions:</span></th>
              </tr>
            </thead>
            <tbody>
              <% @kid.bubble_group_statuses.select(&:active?).each do |bubble_group_status| %>
                <tr>
                  <td><span class="font-xlarge text-info"><%= link_to bubble_group_status.bubble_group.name, bubble_group_status.bubble_group %></span></td>
                  <td><span class="font-xlarge text-info"><%= link_to "Status", bubble_group_status %></span></td>
                  <td><span class="font-xlarge text-info"><%= link_to "Reset", reset_bubble_group_status_path(bubble_group_status) %></span></td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <script type="text/javascript">
          $('#table').bootstrapTable();
        </script>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row actions multi-row text-center">
    <div class="col-md-12">
        <%= link_to 'Play', play_kid_path(@kid), class: 'btn btn-info btn-simple btn-wide' %>
        <%= link_to 'Play Games', play_game_kid_path(@kid), class: 'btn btn-info btn-simple btn-wide' %>
        <%= link_to 'Show Games', games_kid_path(@kid), class: 'btn btn-info btn-simple btn-wide' %>
        <br>
      </div>
    </div>
  </div>
<% end %>
<div class="container kmSection">
  <div class="row actions multi-row text-center">
    <div class="col-md-12">
      <%= link_to 'Back', url_for(:back), class: 'btn btn-danger btn-simple btn-wide' %>
      <%= link_to 'Edit', edit_kid_path(@kid), class: 'btn btn-warning btn-simple btn-wide' %>
      <%= link_to 'Reports', reports_kid_path(@kid), class: 'btn btn-info btn-simple btn-wide' %>
    </div>
  </div>
</div>
