<p id="notice"><%= notice %></p>

<p>
  <strong>Kid:</strong>
  <%= @assignment.kid %>
</p>

<p>
  <strong>Bubble group:</strong>
  <%= @assignment.bubble_group %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assignment.status %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
