<%= form_for(@student_activity) do |f| %>
  <% if @student_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_activity.errors.count, "error") %> prohibited this student_activity from being saved:</h2>

      <ul>
      <% @student_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :poset_id %><br>
    <%= f.text_field :poset_id %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br>
    <%= f.text_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
