<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @student_activity.status %>
</p>

<p>
  <strong>Score:</strong>
  <%= @student_activity.score %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student_activity.active %>
</p>

<p>
  <strong>Poset:</strong>
  <%= @student_activity.poset %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @student_activity.activity %>
</p>

<p>
  <strong>Game:</strong>
  <%= @student_activity.game %>
</p>

<%= link_to 'Edit', edit_student_activity_path(@student_activity) %> |
<%= link_to 'Back', student_activities_path %>
