<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bubble.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bubble.description %>
</p>

<p>
  <strong>Bubble Group:</strong>
  <%= link_to @bubble.bubble_group.name, @bubble.bubble_group %>
</p>

<p>
  <strong>Bubble Category:</strong>
  <%= link_to @bubble.bubble_category.name, @bubble.bubble_category if @bubble.bubble_category %>
</p>

<table>
  <tr>
    <th>Bubble Game</th>
    <th>Game</th>
    <th>Params</th>
    <th colspan="3"></th>
  </tr>
  <% @bubble.bubble_games.each do |bubble_game| %>
    <tr>
      <td><%= link_to bubble_game.name, bubble_game %></td>
      <td><%= link_to bubble_game.game.name, bubble_game.game %></td>
      <td><%= bubble_game.game_params %></td>
      <td><%= link_to 'Show', bubble_game %></td>
      <td><%= link_to 'Edit', edit_bubble_game_path(bubble_game) %></td>
      <td><%= link_to 'Destroy', bubble_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to 'Add Game', new_bubble_game_path(bubble_id: @bubble) %> |
<%= link_to 'Edit', edit_bubble_path(@bubble) %> |
<%= link_to 'Back', bubbles_path %>
