<%= form_for(@bubble_group_status) do |f| %>
  <% if @bubble_group_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bubble_group_status.errors.count, "error") %> prohibited this bubble_group_status from being saved:</h2>

      <ul>
      <% @bubble_group_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kid_id %><br>
    <%= f.collection_select :kid_id, Kid.all, :id, :full_name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :bubble_group_id %><br>
    <%= f.collection_select :bubble_group_id, BubbleGroup.all, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :poset_id %><br>
    <%= f.collection_select :poset_id, Poset.all, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.select :active, BubbleGroupStatus::ACTIVE_SELECT_OPTIONS, include_blank: false %>
  </div>
  <div class="field">
    <%= f.label :pass_counter %><br>
    <%= f.number_field :pass_counter %>
  </div>
  <div class="field">
    <%= f.label :fail_counter %><br>
    <%= f.number_field :fail_counter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
