<h1>Bubble Group Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Kid</th>
      <th>Bubble group</th>
      <th>Current Poset</th>
      <th>Pass counter</th>
      <th>Fail counter</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @bubble_group_statuses.each do |bubble_group_status| %>
      <tr>
        <td><%= link_to bubble_group_status.kid.try(:full_name), bubble_group_status.kid %></td>
        <td><%= link_to bubble_group_status.bubble_group.try(:name), bubble_group_status.bubble_group %></td>
        <td><%= link_to bubble_group_status.poset.try(:name), bubble_group_status.poset %></td>
        <td><%= bubble_group_status.pass_counter %></td>
        <td><%= bubble_group_status.fail_counter %></td>
        <td><%= link_to 'Show', bubble_group_status %></td>
        <td><%= link_to 'Edit', edit_bubble_group_status_path(bubble_group_status) %></td>
        <td><%= link_to 'Reset', reset_bubble_group_status_path(bubble_group_status) %></td>
        <td><%= link_to 'Destroy', bubble_group_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

