<h1>Listing bubble_group_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Kid</th>
      <th>Bubble group</th>
      <th>Poset</th>
      <th>Pass counter</th>
      <th>Fail counter</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @bubble_group_statuses.each do |bubble_group_status| %>
      <tr>
        <td><%= bubble_group_status.kid_id %></td>
        <td><%= bubble_group_status.bubble_group_id %></td>
        <td><%= bubble_group_status.poset_id %></td>
        <td><%= bubble_group_status.pass_counter %></td>
        <td><%= bubble_group_status.fail_counter %></td>
        <td><%= link_to 'Show', bubble_group_status %></td>
        <td><%= link_to 'Edit', edit_bubble_group_status_path(bubble_group_status) %></td>
        <td><%= link_to 'Reset', reset_bubble_group_status_path(bubble_group_status) %></td>
        <td><%= link_to 'Destroy', bubble_group_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bubble group status', new_bubble_group_status_path %>
