<p id="notice"><%= notice %></p>

<p>
  <strong>Kid:</strong>
  <%= link_to @bubble_group_status.kid.full_name, @bubble_group_status.kid %>
</p>

<p>
  <strong>Bubble group:</strong>
  <%= link_to @bubble_group_status.bubble_group.name, @bubble_group_status.bubble_group %>
</p>

<p>
  <strong>Poset:</strong>
  <%= link_to @bubble_group_status.poset.name, @bubble_group_status.poset %>
</p>

<p>
  <strong>Pass counter:</strong>
  <%= @bubble_group_status.pass_counter %>
</p>

<p>
  <strong>Fail counter:</strong>
  <%= @bubble_group_status.fail_counter %>
</p>

<%= link_to 'Play', play_kid_path(@bubble_group_status.kid, bubble_group_id: @bubble_group_status.bubble_group.id) %> |
<%= link_to 'Edit', edit_bubble_group_status_path(@bubble_group_status) %> |
<%= link_to 'Reset', reset_bubble_group_status_path(@bubble_group_status) %> |
<%= link_to 'Back', bubble_group_statuses_path %>
