<% if current_user.admin? %>
  <td>
    <div class="dropdown simple medium select schools">
      <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="value"><%= truncate(@current_school.name, :length => 17) %></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <% @school_hash.each do |sc_id, values| %>
          <li><%= link_to truncate(values[:name], :length => 17), self.send(page + '_path', school: sc_id) %></li>
        <% end %>
      </ul>
    </div>
  </td>
<% end %>
<td>
  <div class="dropdown simple medium select classroomType">
    <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="value"><%= @current_classroom_type.type_name %></span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <% @classroom_types.each do |ct| %>
        <li><a href="javascript:" data-id="<%= ct.id %>"><%= ct.type_name %></a></li>
      <% end %>
    </ul>
    <%= hidden_field_tag :classroom_type, @current_classroom_type.id %>
  </div>
</td>
<td>
  <div class="dropdown simple medium select classroom">
    <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="value"><%= truncate(@current_classroom.name, :length => 17) %></span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <% @school_hash[@current_school.id][:classrooms][@current_classroom_type.id].to_a.each do |cr| %>
        <li><a href="javascript:" data-id="<%= cr[0] %>"><%=  truncate(cr[1], :length => 17) %></a></li>
      <% end %>
    </ul>
    <%= hidden_field_tag :classroom, @current_classroom.id %>
  </div>
</td>