<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <% if @user.new_record? %>
          <h4>Create New User</h4>
        <% else %>
          <h4>Editing User</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= form_for @user, url: @user.new_record? ? users_admin_index_path : users_admin_path, html: {class: 'form-horizontal form-classic form-vpad'} do |f| %>
    <%= f.hidden_field :classroom_id, value: @user.classroom.try(:id) %>
    <%= render 'shared/error_messages', :object => @user %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <%= f.label :first_name, "First Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, "Last Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :direct_phone, "Direct Phone", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :direct_phone, placeholder: 'Direct Phone', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :role_id, 'Type of User',class: "col-sm-4 control-label text-main" %>
          <%= f.hidden_field :role_id, id: 'roleField', value: @user.role.try(:id) %>
          <% if @user.new_record? && @user.role %>
            <div class="col-sm-8">
              <label class="col-sm-4 control-label text-main accessToken"><%= @user.role.name %></label>
            </div>
          <% else %>
            <div class="col-sm-8">
              <div class="dropdown select userRole">
                <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="value"><%= @user.role.try(:name) || @roles.first.name %></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <% @roles.each do |role| %>
                    <li><a href="javascript:" data-id="<%= role.id %>"><%= role.name %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row text-center actions">
      <div class="col-md-<%= @user.persisted? ? '7' : '6' %> col-md-offset-3">
        <%= link_to 'Cancel', users_admin_index_path, class: 'btn btn-large btn-warning btn-wide btn-simple' %>
        <% if @user.persisted? %>
          <%= link_to 'Delete', users_admin_path(@user), method: :delete,  class: 'btn btn-danger btn-large btn-wide btn-simple' %>
          <%= f.submit 'Confirm', class: 'btn btn-info btn-large btn-wide btn-simple' %>
        <% else %>
          <%= f.submit 'Create User', class: 'btn btn-info btn-large btn-wide btn-simple' %>
        <% end %>
      </div>
    </div>
  <% end %>

<script>
  $(document).ready(function(){
    $('.dropdown.select.userRole ul > li > a').click(function(){
      var id = $(this).data('id');
      $('#roleField').val(id);
    });
  });
</script>
<!-- END convert this to plugin and add to ujs.js when issue-52 is merged to master -->
