<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <% if @user.new_record? %>
          <h4>Create New User</h4>
        <% else %>
          <h4>Editing User</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= form_for @user, url: @user.new_record? ? users_admin_index_path : users_admin_path, html: {class: 'form-horizontal form-classic form-vpad'} do |f| %>
    <%= hidden_field_tag :url, params[:url] || users_admin_index_path %>
    <%= render 'shared/error_messages', :object => @user %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <%= f.label :first_name, "First Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :first_name,maxlength: 25, placeholder: 'First Name', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, "Last Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :last_name, maxlength: 25, placeholder: 'Last Name', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :direct_phone, "Direct Phone", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :direct_phone, placeholder: 'Direct Phone', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :avatar, "Avatar", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.file_field :avatar, as: :file %>
            <p class="help-block">Preferable image 100x100 pixels.</p>
          </div>
        </div>
        <%= render 'form_object_dropdown', f: f, type: :role, options: @roles %>
        <%= render 'form_object_dropdown', f: f, type: :school, options: @schools %>
        <%= render 'form_object_dropdown', f: f, type: :classroom, options: @classrooms %>
        <div class="kmSection teachersList <%= 'hidden' if !@user.classroom || @user.classroom.teachers.none? %>">
          <h4>Teachers assigned to this classroom</h4>
          <h4 class="col-sm-offset-4 col-sm-8 text-main">
            <%= raw @user.classroom.teachers.map(&:full_name).join('<br><br>') if @user.classroom %>
          </h4>
        </div>
      </div>
    </div>
    <div class="row text-center actions">
      <% if  params[:school] %>
          <%= link_to 'Cancel', dashboard_classroom_path( classroom: params[:classroom], school: params[:school]), class: 'btn btn-large btn-warning btn-wide btn-simple' %>
      <% else %>
          <%= link_to 'Cancel', params[:url] || users_admin_index_path, class: 'btn btn-large btn-warning btn-wide btn-simple' %>
      <% end %>
      <% if @user.persisted? %>
        <%= link_to 'Delete', users_admin_path(@user), method: :delete,  class: 'btn btn-danger btn-large btn-wide btn-simple' %>
        <%= f.submit 'Confirm', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% else %>
        <%= f.submit 'Create User', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= form_tag update_classrooms_path, method: :get, remote: true, id: 'updateClassrooms' do %>
  <%= hidden_field_tag :role_id, @user.role.try(:id) %>
  <%= hidden_field_tag :school_id, @user.school.try(:id) %>
  <%= hidden_field_tag :classroom_id, @user.classroom.try(:id) %>
<% end %>

<script>
  $(document).ready(function(){
    initUserDropdownSelect();
  });
</script>
<!-- END convert this to plugin and add to ujs.js when issue-52 is merged to master -->