<% object = @user.send(type) %>
<div class="form-group <%= type.to_s %> <%= !@user.can_have?(type) || @user.new_record? && !object ? 'hidden' : '' unless type == :role %>">
  <%= f.label "#{type}_id", type.to_s.capitalize,class: "col-sm-4 control-label text-main" %>
  <% if @user.new_record? && object || (object && object.is_a?(Role) && params[:edit_role] == 'false') %>
    <div class="col-sm-8">
      <%= f.hidden_field "#{type}_id", value: object.try(:id) %>
      <label class="col-sm-4 control-label text-main accessToken"><%= object.name %></label>
    </div>
  <% else %>
    <div class="col-sm-8">
      <div class="dropdown select <%= type.to_s %>">
        <%= f.hidden_field "#{type}_id", value: object.try(:id) %>
        <%= render 'dropdown', object: object, options:options %>
      </div>
    </div>
  <% end %>
</div>