<%= render "shared/section_title", title: "Activities" %>

<% unless @current_classroom %>

<div class="container kmSection">
  <div class="row text-center">
    <h3 class="padding-wall">Selected school doesn't have any classroom.</h3>
    <div class="FirstClassroom">
      <%= link_to 'Back', url_for(:back), class: 'btn btn-danger btn-large btn-wide btn-simple' %>
      <%= link_to new_classroom_path(school:@current_school), class: 'btn btn-warning btn-simple btn-large btn-wide' do %>
        <i class="fa fa-plus"></i>
        <span>Add Your First Classroom</span>
      <% end %>
    </div>
  </div>
</div>

<% else %>

<div class="container kmSection">
  <div class="row">
    <%= flash_messages %>
    <%= form_tag activities_path, method: :get do %>
      <%= hidden_field_tag :classroom_type, @current_classroom_type.id %>
      <table class="table solid fit">
        <tbody>
          <tr class="col-pad">
            <% if current_user.admin? %>
              <td class="minimal">
                <h4>Choose School:</h4>
              </td>
            <% end %>
            <% unless current_user.teacher? %>
              <td class="minimal">
                <h4>Choose Classroom Type:</h4>
              </td>
              <td class="minimal">
                <h4>Choose Classroom:</h4>
              </td>
              <td class="minimal"></td>
            <% end %>
            <td></td>
          </tr>
          <tr>
            <% unless current_user.teacher? %>
              <%= render 'dropdown_filter', page: 'activities' %>
              <td>
                <%= submit_tag 'Set', class: 'btn btn-warning btn-simple' %>
              </td>
            <% end %>
            <td></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%= form_tag bulk_submit_bubble_group_statuses_path, id: 'bulk_submit_selected' do %>
  <%= hidden_field_tag :classroom_id, @current_classroom.id %>
  <%= hidden_field_tag :time_limit, nil %>
  <% @total_bg_statuses_hash.each do |bg_id, info| %>
    <% bg = info[:bubble_group] %>
    <% assignment = info[:global_assignment] %>
    <%= hidden_field_tag 'bubble_groups[]', bg.id %>
    <%= hidden_field_tag 'selected[]', nil, id: "selected_#{bg.id}" %>
  <% end %>
<% end %>

<div class="container kmSection">
  <div class="row">
    <h4>Choose Activities</h4>
    <table class="table fit">
      <thead>
        <tr class="v-middle">
          <th class="text-center">Classroom</th>
          <% @total_bg_statuses_hash.each do |bg_id, info| %>
            <th class="text-center"><%= bubble_group_two_lines_name info[:bubble_group].name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center v-middle">
          <td class="text-center">
            <span class="text-main font-large"><%= @current_classroom_type.type_name %><br><%= @current_classroom.name %></span>
          </td>
          <% @total_bg_statuses_hash.each do |bg_id, info| %>
            <td>
              <div class="btn-multi center-block">
                <div class="extra-action">
                  <div class="extra-container">
                    <% unless info[:global_bg_status].active == BubbleGroupStatus::ACTIVE_ACTIVE %>
                      <div class="dropdown simple select bulkTime" data-target="selected_<%= bg_id %>">
                        <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span class="value"><%= info[:global_bg_status].humanized_status %></span>
                          <span class="caret"></span>
                        </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:" data-id="">Not Selected</a></li>
                            <li><a href="javascript:" data-id="yes">Selected</a></li>
                          </ul>
                      </div>
                    <% else %>
                      <div class="dropdown simple select selected bulkTime">
                        <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span class="value"><%= info[:global_bg_status].humanized_status %></span>
                        </a>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="actions ">
      <div class="col-sm-offset-4 col-sm-4"><h4>Set Time for Selected Bubble Groups:</h4></div>
    </div>
  </div>
  <div class="row">
    <% if @current_classroom.bubble_group_statuses.active.any? %>
      <div class="activities status  col-sm-6">
        Activities are selected
      </div>
    <% else %>
      <div class=" noactivities status col-sm-8">
        No activities are selected
      </div>
    <% end %>
    <% if @current_classroom.bubble_group_statuses.active.any? %>
      <div class="col-sm-6 text-right">
    <% else %>
      <div class="col-sm-4 text-right">
    <% end %>
    <div class="dropdown simple medium select timeLimit bulkSelectTime">
      <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="value"><%= @time_options.first[0] %></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <% @time_options.each do |to| %>
          <li><a href="javascript:" data-time-limit="<%= to[1] %>"><%= to[0] %></a></li>
        <% end %>
      </ul>
    </div>
    <% if @current_classroom.bubble_group_statuses.active.any? %>
      <%= link_to 'Reset', bulk_update_bubble_group_statuses_path(classroom_id: @current_classroom, status: BubbleGroupStatus::ACTIVE_NONE), class: 'resetActivities btn btn-warning btn-warning-brand btn-simple btn-large btn-wide' %>
    <% end %>
      <%= link_to 'Submit', 'javascript:', onclick: "$('#bulk_submit_selected').submit();return false;" ,class: ' btn btn-success btn-simple btn-large btn-wide' %>
    </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.action-media').click(function(){
      $(this).closest('form').submit();
    });

    initDropdownSelect(<%= @classroom_hash.to_json.html_safe %>);
    $('.dropdown.select.timeLimit ul > li > a').click(function(){
      var time_limit = $(this).data('time-limit');
      $('#bulk_submit_selected #time_limit').val(time_limit);
    });
  });
</script>

<% end %>
