<% unless @current_classroom %>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Dashboard</h4>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row text-center">
    <h3 class="padding-wall">You don't have a classroom assigned to you.</h3>
  </div>
</div>

<% else %>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Average Play Time per Kid</h4>
      </div>
      <div class="pull-right">
        <% if current_user.admin? %>
          <div class="dropdown simple">
            <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span><%= @current_school.name %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <% School.all.find_each do |sc| %>
                <li><%= link_to sc.name, dashboard_path(school:sc) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="dropdown simple">
          <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><%= @current_classroom.try(:name) %></span>
            <% unless current_user.teacher? %>
              <span class="caret"></span>
            <% end %>
          </a>
          <% unless current_user.teacher? %>
            <ul class="dropdown-menu dropdown-menu-right">
              <% @current_school.classrooms.each do |cr| %>
                <li><%= link_to cr.name, dashboard_path(classroom:cr) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row text-center apt-head">
    <% @time_intervals_and_kids.each_with_index do |item, index| %>
      <div class="col-md-2 <%= index != 0 ? '' : 'col-md-offset-1'%>">
        <h1><%= item[:kids].count %> kids</h1>
        <p><%= item[:time_interval].join('-') %> minutes</p>
      </div>
    <% end %>
  </div>

  <% max_kid_count = @kids_count_per_timegroup.max{|a,b| a <=> b } %>
  <%# one row has a height of 40px %>
  <% row_height = 40 %>
  <% total_grid_height = max_kid_count * row_height %>
  <div class="row apt-body">
    <div class="col-md-1 font-xxlarge text-right apt-y-axis">
      <% (1..max_kid_count).to_a.reverse.each do |item| %>
        <div><%= item %></div>
      <% end %>
    </div>
    <% @time_intervals_and_kids.each_with_index do |item, index| %>
      <div class="col-md-2 apt-col">
        <div class="grid" style="height: <%= total_grid_height %>px;">
          <% current_row_height = @kids_count_per_timegroup[index] * row_height %>
          <% if current_row_height * 2 > total_grid_height %>
            <% tooltip_position = 'bottom' %>
            <% tooltip_anchor = "top: #{total_grid_height - current_row_height + row_height}px;" %>
          <% else %>
            <% tooltip_position = 'top' %>
            <% tooltip_anchor = "bottom: #{current_row_height}px;" %>
          <% end %>
          <div class="apt-bar" style="height: <%= current_row_height %>px;"></div>
          <div class="apt-tip <%= tooltip_position %>" style="<%= tooltip_anchor %>">
            <div class="apt-tip-content text-center">
              <h4>Kids</h4>
              <ul class="list-unstyled">
                <% item[:kids].each do |kid| %>
                  <li>
                    <%= link_to kid.full_name, kid %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="apt-x-axis text-center font-xxlarge">
          <%= "#{item[:time_interval].join('-')} minutes" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Activity Progress</h4>
      </div>
    </div>
  </div>
</div>

<div id="bottomDashboard">
  <%= render 'shared/bottom_dashboard' %>
</div>

<% end %>

<script>
  $(document).ready(function(){
    $('#classroomTypeTab li a').click(function(){
      var type = $(this).attr('class');
      $('.row.kmSection.classRooms').each(function(){
        $(this).toggleClass('hidden', !$(this).hasClass(type));
      });
    });
  });
</script>
