<% unless @current_classroom %>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Dashboard</h4>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row text-center">
    <h3 class="padding-wall">Selected school doesn't have any classroom.</h3>
    <div class="FirstClassroom">
      <%= link_to 'Back', url_for(:back), class: 'btn btn-danger btn-large btn-wide btn-simple' %>
      <%= link_to new_classroom_path(school:@current_school), class: 'btn btn-warning btn-simple btn-large btn-wide' do %>
        <i class="fa fa-plus"></i>
        <span>Add New Classroom</span>
      <% end %>
    </div>
  </div>
</div>

<% else %>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Average Play Time per Kid</h4>
      </div>
      <div class="pull-right">
        <% if current_user.admin? %>
          <div class="dropdown simple">
            <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span><%= @current_school.name %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <% School.all.find_each do |sc| %>
                <li><%= link_to sc.name, dashboard_path(school:sc) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="dropdown simple">
          <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><%= @current_classroom.try(:name) %></span>
            <% unless current_user.teacher? %>
              <span class="caret"></span>
            <% end %>
          </a>
          <% unless current_user.teacher? %>
            <ul class="dropdown-menu dropdown-menu-right">
              <% @current_school.classrooms.each do |cr| %>
                <li><%= link_to cr.name, dashboard_path(classroom:cr) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row text-center apt-head">
    <% @time_intervals_and_kids.each_with_index do |item, index| %>
      <div class="col-md-2 <%= index != 0 ? '' : 'col-md-offset-1'%>">
        <h1><%= item[:kids].count %> kids</h1>
        <p><%= item[:time_interval].join('-') %> minutes</p>
      </div>
    <% end %>
  </div>

  <% max_kid_count = @kids_count_per_timegroup.max{|a,b| a <=> b } %>
  <% m = max_kid_count / 10 + 1 %>
  <% row_count = max_kid_count / m %>
  <% row_count += 1 if row_count * m < max_kid_count %>
  <div class="row apt-body apt-dynamic">
    <div class="col-md-1 font-xxlarge text-right apt-y-axis">
      <% (1..row_count).to_a.reverse.each do |item| %>
        <div><%= item * m %></div>
      <% end %>
    </div>
    <% @time_intervals_and_kids.each_with_index do |item, index| %>
      <div class="col-md-2 apt-col">
        <div class="grid">
          <%= raw '<div class="grid-v-space"></div>' * row_count %>
          <div class="apt-bar" style="height: <%= 100.0 * @kids_count_per_timegroup[index] / ( m * row_count ) %>%;">
            <div class="apt-tip <%= @kids_count_per_timegroup[index] > m * row_count / 2.0 ? 'bottom' : 'top' %>">
              <div class="apt-tip-content text-center">
                <h4>Kids</h4>
                <ul class="list-unstyled">
                  <% item[:kids].each do |kid| %>
                    <li>
                      <%= link_to kid.full_name, kid %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="apt-x-axis text-center font-xxlarge">
          <%= "#{item[:time_interval].join('-')} minutes" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Activity Progress</h4>
      </div>
    </div>
  </div>
</div>

<div id="bottomDashboard">
  <%= render 'shared/bottom_dashboard' %>
</div>

<% end %>

<script>
  $(document).ready(function(){
    $('#classroomTypeTab li a').click(function(){
      var type = $(this).attr('class');
      $('.row.kmSection.classRooms').each(function(){
        $(this).toggleClass('hidden', !$(this).hasClass(type));
      });
    });
  });
</script>
