<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Classrooms</h4>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row">
    <%= form_tag dashboard_classroom_path, method: :get do %>
      <table class="table inline solid fit">
        <tbody>
        <tr class="col-pad">
          <% if current_user.admin? %>
            <td>
              <h4>Choose School:</h4>
            </td>
          <% end %>
          <td>
            <h4>Choose Classroom Type:</h4>
          </td>
          <td>
            <h4>Choose Classroom:</h4>
          </td>
          <td></td>
        </tr>
        <tr>
          <%= render 'dropdown_filter' %>
          <td>
            <%= submit_tag 'Set', class: 'btn btn-warning btn-simple' %>
          </td>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="container kmSection">
  <div class="row">
    <table class="table fit">
      <thead>
      <tr>
        <th class="text-center">Classroom</th>
        <th></th>
        <% unless current_user.teacher? %>
          <th class="text-center">Teacher</th>
          <th></th>
        <% end %>
        <th class="text-center">Total Students</th>
        <th></th>
        <th class="text-center minimal">Add Student</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center v-middle">
        <td class="text-left minimal">
          <span class="text-main font-large"><%= @current_classroom_type.type_name %><br><%= @current_classroom.name %></span>
        </td>
        <td></td>
        <% unless current_user.teacher? %>
          <td class="text-left minimal">
            <div class="dropdown simple medium select">
              <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @current_classroom.teacher.full_name %></span>
                <span class="caret"></span>
              </a>
              <div class="dropdown-wrap dropdown-menu-right">
                <ul class="dropdown-menu">
                  <% @teachers.each do |teacher| %>
                    <div>
                      <li><%= link_to teacher.full_name, 'javascript:', class: 'changeTeacher' %></li>
                        <%= form_for @current_classroom, remote: true do |f| %>
                          <%= f.hidden_field :user_id, value: teacher.id %>
                        <% end %>
                    </div>
                  <% end %>
                </ul>
                  <div class="dropdown-action">
                    <%= link_to new_users_admin_path, class:'btn', onclick: "window.location.href = $(this).attr('href');" do %>
                      <i class="fa fa-plus"></i>
                      <span>Add Teacher</span>
                    <% end %>
                  </div>
              </div>
            </div>
          </td>
          <% if can? :edit, @current_classroom.teacher %>
            <td class="minimal">
              <%= link_to 'Edit', edit_users_admin_path(@current_classroom.teacher), class: 'btn btn-warning btn-simple' %>
            </td>
          <% end %>
        <% end %>
        <td>
          <span class="text-main font-large"><%= @current_classroom.kids.count %></span>
        </td>

        <td></td>
        <% if can? :create, Kid %>
          <td>
            <%= link_to new_kid_path(classroom: @current_classroom), class: 'btn btn-info btn-simple btn-large btn-wide' do %>
              <i class="fa fa-plus"></i>
              <span>Add New Student</span>
            <% end %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>


    <table class="table fit">
      <thead>
      <tr class="no-border-top">
        <th class="text-center">Avatar</th>
        <th class="text-center">Students</th>
        <th class="text-center">Download Report</th>
        <% if @current_classroom.kindergarten? %>
          <th class="text-center">Download Report</th>
        <% end %>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @current_classroom.kids.each do |kid| %>
        <tr class="text-center v-middle">
          <td class="minimal">
            <%= link_to kid do %>
              <% avatar = kid.male? ? 'boy_avatar.png' : 'girl_avatar.jpg' %>
              <%= image_tag avatar %>
            <% end %>
          </td>

          <td>
            <span class="text-main font-large"><%= kid.full_name %></span>
          </td>
          <% if can? :reports, kid %>
            <% if kid.kindergarten? %>
              <td>
                <%= link_to 'Kindergarten Report', reports_kid_path(kid), class: 'btn btn-info btn-simple btn-wide' %>
              </td>

              <td>
                <%= link_to 'Full Report', reports_kid_path(kid, full_report: true), class: 'btn btn-info btn-simple btn-wide' %>
              </td>
            <% else %>
              <td>
                <%= link_to 'First Grade Report', reports_kid_path(kid), class: 'btn btn-info btn-simple btn-wide' %>
              </td>
            <% end %>
          <% end %>
          <% if can? :edit, kid %>
            <td class="minimal">
              <%= link_to 'Edit', edit_kid_path(kid), class: 'btn btn-warning btn-simple btn-extended' %>
            </td>
          <% end %>
          <% if can? :destroy, kid %>
            <td class="minimal">
              <%= link_to 'Delete', kid, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-simple btn-extended' %>
            </td>
          <% end %>

        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<script>
  $(document).ready(function(){
    var schools = <%= @school_hash.to_json.html_safe %>;
    var classrooms = schools[<%= @current_school.id %>]['classrooms'];
    initDropdownSelect(classrooms);
    $('.changeTeacher').click(function(){
      $(this).closest('.dropdown').find('a span.value').text($(this).text());
      $(this).closest('div').find('form').submit();
    });
  });
</script>