<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Classrooms</h4>
      </div>
    </div>
  </div>
</div>

<% unless @current_classroom %>

<div class="container kmSection">
  <div class="row text-center">
    <h3 class="padding-wall">Selected school doesn't have any classroom.</h3>
    <div class="FirstClassroom">
      <%= link_to 'Back', url_for(:back), class: 'btn btn-danger btn-large btn-wide btn-simple' %>
      <%= link_to new_classroom_path(school:@current_school), class: 'btn btn-warning btn-simple btn-large btn-wide' do %>
        <i class="fa fa-plus"></i>
        <span>Add New Classroom</span>
      <% end %>
    </div>
  </div>
</div>

<% else %>

<% unless current_user.teacher? %>
  <div class="container kmSection">
    <div class="row">
      <%= form_tag dashboard_classroom_path, method: :get do %>
        <table class="table inline solid fit">
          <tbody>
          <tr class="col-pad">
            <% if current_user.admin? %>
              <td>
                <h4>Choose School:</h4>
              </td>
            <% end %>
            <td>
              <h4>Choose Classroom Type:</h4>
            </td>
            <td>
              <h4>Choose Classroom:</h4>
            </td>
            <td></td>
          </tr>
          <tr>
            <%= render 'dropdown_filter', page: 'dashboard_classroom' %>
            <td>
              <%= submit_tag 'Set', class: 'btn btn-warning btn-simple' %>
            </td>
          </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container kmSection">
  <div class="row">

    <table class="table fit">
      <thead>
        <tr>
          <th class="text-center">Classroom</th>
          <th></th>
          <% unless current_user.teacher? %>
            <th class="text-center">Teachers</th>
            <th></th>
            <th></th>
          <% end %>
          <th class="text-center nowrap">Total Students</th>
          <th></th>
          <th class="text-center minimal">Add Student</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center v-top">
          <td class="text-left minimal">
            <span class="text-main font-large"><%= @current_classroom_type.type_name %><br><%= @current_classroom.name %></span>
          </td>
          <td></td>
          <% unless current_user.teacher? %>
            <td class="text-left minimal" style="padding-top:18px;">
              <% @current_classroom.teachers.each do |teacher| %>
                <p><span class="text-main font-large"><%= teacher.full_name %></span><br></p>
              <% end %>
            </td>
            <td class="text-left minimal" style="padding-top:18px;">
              <% @current_classroom.teachers.each do |teacher| %>
                <p>
                  <% if current_user && (can? :edit, teacher) %>
                    <%= link_to 'Edit', edit_users_admin_path(teacher, edit_role: false), class: 'btn btn-warning btn-simple btn-sm' %>
                    <%= link_to 'Delete', users_admin_path(teacher, url: dashboard_classroom_path(classroom: @current_classroom)), method: :delete, class: 'btn btn-danger btn-simple btn-sm', id: 'btn_delete_teacher', data: { confirm: "Are you sure to remove this person from the system? This cannot be undone." } %>
                  <% end %>
                  <br>
                </p>
              <% end %>
            </td>
            <td class="minimal" style="padding-top:18px;">
              <%= link_to 'Add Teacher', new_users_admin_path(classroom: @current_classroom, role: 'Teacher', url: dashboard_classroom_path), class:'btn btn-warning btn-simple' %>
            </td>
          <% end %>
          <td style="padding-top:19px;">
            <span class="text-main font-large"><%= @current_classroom.students.count %></span>
          </td>
          <td></td>
          <% if can? :create, Kid %>
            <td style="padding-top:13px;">
              <%= link_to new_kid_path(classroom: @current_classroom, url: dashboard_classroom_path), class: 'btn btn-info btn-simple btn-large btn-wide' do %>
                <i class="fa fa-plus"></i>
                <span>Add New Student</span>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <table class="table fit">
      <thead>
      <tr class="no-border-top">
        <th class="text-center">Avatar</th>
        <th class="text-center">Students</th>
        <th class="text-center">Download Report</th>
        <% if @current_classroom.kindergarten? %>
          <th class="text-center">Download Report</th>
        <% end %>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @current_classroom.students.each do |kid| %>
        <tr class="text-center v-middle">
          <td class="minimal">
            <%= link_to kid do %>
              <%= image_tag kid_avatar_for(kid: kid, size: 'small') %>
            <% end %>
          </td>
          <td>
            <span class="text-main font-large"><%= kid.full_name %></span>
          </td>
          <% if can? :reports, kid %>
            <% if kid.kindergarten? %>
              <td>
                <%= link_to 'Kindergarten Report', reports_kid_path(kid), class: 'btn btn-info btn-simple btn-wide' %>
              </td>
              <td>
                <%= link_to 'Full Report', reports_kid_path(kid, full_report: true), class: 'btn btn-info btn-simple btn-wide' %>
              </td>
            <% else %>
              <td>
                <%= link_to 'First Grade Report', reports_kid_path(kid), class: 'btn btn-info btn-simple btn-wide' %>
              </td>
            <% end %>
          <% end %>
          <% if can? :edit, kid %>
            <td class="minimal">
              <%= link_to 'Edit', edit_kid_path(kid, url: dashboard_classroom_path), class: 'btn btn-warning btn-simple btn-extended' %>
            </td>
          <% end %>
          <% if can? :destroy, kid %>
            <td class="minimal">
              <%= link_to 'Delete', kid, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-simple btn-extended' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<script>
  $(document).ready(function(){
    var schools = <%= @school_hash.to_json.html_safe %>;
    var classrooms = schools[<%= @current_school.id %>]['classrooms'];
    initDropdownSelect(classrooms);
  });
</script>

<% end %>
