<% rows_count = 10 if local_assigns[:rows_count].nil? %>
<% titles = ["0-10", "11-20", "21-30", "31-40"] if local_assigns[:titles].blank? %>
<% values = Array.new(4,0) if local_assigns[:values].blank? %>

<% if local_assigns[:title] %>
  <div class="row apt-title text-center">
    <div class="col-md-12">
      <h3><%= title %></h3>
    </div>
  </div>
<% end %>

<div class="row apt-body">
  <div class="col-md-2 font-xxlarge text-right apt-y-axis">
    <% (1..rows_count).to_a.reverse.each do |item| %>
      <div><%= item * 10 %>%</div>
    <% end %>
  </div>
  <div class="col-md-10">
    <div class="row">
      <% values.each_with_index do |value, index| %>
        <div class="col-md-<%= 12 / values.length %> apt-col">
          <div class="grid">
            <div class="apt-bar" style="height: <%= value %>%;"></div>
          </div>
          <div class="apt-x-axis text-center font-xxlarge">
            <%= titles[index] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
