<div class="container kmSection">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-pills simple bordered nav-justified font-xlarge" id="classroomTypeTab">
        <% @total_hash.keys.each do |ct_name| %>
          <li role="presentation" class="<%= @bottom_current_classroom_type.type_name == ct_name ? 'active' : '' %>"><a href="#<%= ct_name.downcase.tr(' ', '_') %>" data-toggle="pill"><%= ct_name%></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% @total_hash.each do |ct_name, ct_item| %>
    <div class="row kmSection classRooms classRoomDropdown text-center <%= @bottom_current_classroom_type.type_name != ct_name ? 'hidden' : '' %>">
      <div class="dropdown simple">
        <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span><%= @bottom_current_classroom_type.type_name == ct_name ? @bottom_current_classroom.name : ct_item[:classrooms].values[0][:classroom][:name] %></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <% ct_item[:classrooms].each do |_, cr_item| %>
            <li><%= link_to cr_item[:classroom][:name], dashboard_path(current_cr: cr_item[:classroom]), remote: true %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="container kmSection statistics">
  <div class="tab-content">
    <% @total_hash.each do |ct_name, ct_item| %>
      <div class="tab-pane <%= @bottom_current_classroom_type.type_name == ct_name ? 'active' : '' %>" id="<%= ct_name.downcase.tr(' ', '_') %>" role="tabpanel">
        <% active_ct_tab = @bottom_current_classroom_type.type_name == ct_name %>
        <% ct_item[:classrooms].each_with_index do |(cr_id, cr_item), index| %>
          <% next if (cr_item[:classroom] != @bottom_current_classroom && active_ct_tab) ||  (!active_ct_tab && index > 0) %>
          <div class="kmClassroomSection">
            <div class="row kmSection">
              <ul class="nav nav-pills simple nav-justified nowrap">
                <% cr_item[:bubble_groups].keys.each_with_index do |bg_name, index| %>
                  <li role="presentation" class="<%= index == 0 ? 'active' : '' %>"><a href="#<%= 'classroom' + cr_id.to_s + '_' + bg_name.downcase.tr(' ', '_') %>" data-toggle="pill"><%= bubble_group_two_lines_name bg_name %></a></li>
                <% end %>
              </ul>
            </div>

            <div class="tab-content">
              <% cr_item[:bubble_groups].keys.each_with_index do |bg_name, index| %>
                <div class="tab-pane <%= index == 0 ? 'active' : '' %>" id="<%= 'classroom' + cr_id.to_s + '_' + bg_name.downcase.tr(' ', '_') %>" role="tabpanel">
                  <%= render 'shared/bar_chart', values: cr_item[:bubble_groups][bg_name][:categories].values.map{|info| info[:passed]}, titles:  cr_item[:bubble_groups][bg_name][:categories].keys %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>