<%= render 'shared/section_title', title: @bubble_game.new_record? ? 'Create New Bubble Game' : 'Editing Bubble Game' %>


<div class="container kmSection">
  <%= form_for(@bubble_game, html: {class: 'form-horizontal form-classic form-vpad'}) do |f| %>
    <%= render 'shared/error_messages', object: @bubble_game %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="form-group">
          <%= f.label :bubble_id, "Bubble", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <div class="dropdown select">
              <% bubbles = Bubble.all %>
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @bubble_game.bubble ? @bubble_game.bubble.name : bubbles.first.name %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% bubbles.each do |bubble| %>
                  <li><a href="javascript:" data-id="<%= bubble.id %>"><%= bubble.name %></a></li>
                <% end %>
              </ul>
              <%= f.hidden_field :bubble_id, value: @bubble_game.bubble ? @bubble_game.bubble.id : bubbles.first.id %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :game_id, "Game", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <div class="dropdown select">
              <% games = Game.all %>
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= @bubble_game.game ? @bubble_game.game.name : games.first.name %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% games.each do |game| %>
                  <li><a href="javascript:" data-id="<%= game.id %>"><%= game.name %></a></li>
                <% end %>
              </ul>
              <%= f.hidden_field :game_id, value: @bubble_game.game ? @bubble_game.game.id : games.first.id %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :skin, "Skin", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :skin, placeholder: 'Skin',maxlength: 35, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :game_params, "Game Params", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :game_params, placeholder: 'Game Params',maxlength: 50, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :scoring_params, "Scoring Params", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :scoring_params, placeholder: 'Scoring Params',maxlength: 50, class: 'form-control' %>
          </div>
        </div>

      </div>
    </div>

    <div class="row text-center actions">
      <%= link_to 'Back', bubble_games_path, class: 'btn btn-danger btn-large btn-wide btn-simple' %>
      <% if @bubble_game.new_record? %>
        <%= f.submit 'Create Bubble Game', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% else %>
        <%= link_to 'Show', @bubble_game, class: 'btn btn-warning btn-large btn-wide btn-simple' %>
        <%= f.submit 'Update Bubble Game', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% end %>
    </div>

<% end %>
</div>
