<%= form_for(@bubble_game) do |f| %>
  <% if @bubble_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bubble_game.errors.count, "error") %> prohibited this bubble_game from being saved:</h2>

      <ul>
      <% @bubble_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bubble_id %><br>
    <%= f.number_field :bubble_id %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :skin %><br>
    <%= f.text_field :skin %>
  </div>
  <div class="field">
    <%= f.label :game_params %><br>
    <%= f.text_field :game_params %>
  </div>
  <div class="field">
    <%= f.label :scoring_params %><br>
    <%= f.text_field :scoring_params %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
