<%= render 'shared/section_title', title: 'Bubble Games' %>
<div class="container kmSection">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th class="text-center minimal">Bubble</th>
          <th class="text-center">Game</th>
          <th class="text-center">Skin</th>
          <th class="text-center">Game params</th>
          <th class="text-center">Scoring params</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @bubble_games.each do |bubble_game| %>
          <tr>
            <td class="text-center minimal"><%= link_to bubble_game.bubble.try(:name), bubble_game.bubble %></td>
            <td class="text-center"><%= link_to bubble_game.game.try(:name), bubble_game.game %></td>
            <td class="text-center"><%= truncate(bubble_game.skin, length: 30) %></td>
            <td class="text-center"><%= truncate(bubble_game.game_params, length: 30) %></td>
            <td class="text-center"><%= truncate(bubble_game.scoring_params, length: 30) %></td>
            <td class="actions minimal">
              <%= link_to 'View', bubble_game, class: 'btn btn-info btn-simple btn-narrow' %>
              <%= link_to 'Edit', edit_bubble_game_path(bubble_game), class: 'btn btn-warning btn-simple btn-narrow' %>
              <%= link_to 'Delete', bubble_game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-simple btn-narrow' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row actions text-right">
    <div class="col-md-12">
      <%= link_to new_bubble_game_path, class: 'btn btn-warning btn-simple btn-large' do %>
        <i class="fa fa-plus"></i>
        <span>New Bubble Game</span>
      <% end %>
    </div>
  </div>
</div>
