<p>
  <strong>Bubble:</strong>
  <%= link_to @bubble_game.bubble.name, @bubble_game.bubble %>
</p>

<p>
  <strong>Game:</strong>
  <%= link_to @bubble_game.game.name, @bubble_game.game %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @bubble_game.skin %>
</p>

<p>
  <strong>Game params:</strong>
  <%= @bubble_game.game_params %>
</p>

<p>
  <strong>Scoring params:</strong>
  <%= @bubble_game.scoring_params %>
</p>

<%= link_to 'Edit', edit_bubble_game_path(@bubble_game) %> |
<%= link_to 'Back', bubble_games_path %>
