<% rows_count = 5 %>
<% row_height = 80 %>
<% titles = categories.keys %>
<% total_grid_height = rows_count * row_height %>

<div class="row apt-body mixed">
  <div class="col-md-2 font-xxlarge text-right apt-y-axis">
    <% (1..rows_count).to_a.reverse.each do |item| %>
      <div class="font-xxlarge"><%= item * 20 %>%</div>
    <% end %>
  </div>
  <div class="col-md-10">
    <div class="row">
      <% columns_count = categories.values.length %>
      <% categories.each do |category, values| %>
        <div class="col-md-<%= 12 / columns_count %> apt-col">
          <div class="grid" style="height: <%= total_grid_height %>px;">
            <% percent = values[:percent] %>
            <div class="apt-bar" style="height: <%= percent %>%;"></div>
            <div class="apt-total-bar" style="height:<%= total_grid_height + 1 %>px;">
              <div class="apt-label">
                <span class="font-normal">&nbsp;&nbsp;<%= percent.round(0) %>%</span>
              </div>
            </div>
          </div>
          <div class="apt-x-axis text-center font-large">
            <%= category %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
