<div class="container-fluid kmSection">
  <div class="row content-tabs">
    <div class="container">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation">
          <%= link_to dashboard_path do%>
            Dashboard
            <span class="caret"></span>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to '#classroom', data: {toggle: 'tab'} do%>
            Classroom
            <span class="caret"></span>
          <% end %>
        </li>
        <li role="presentation" class="active">
          <%= link_to '#activities', data: {toggle: 'tab'} do%>
            Activities
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to '#teacher_mode', data: {toggle: 'tab'} do%>
            Teacher Mode
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Activities</h4>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row">
    <table>
      <thead>
        <tr>
          <td>
            <div class="form-label">Choose Categories:</div>
          </td>
          <td>
            <div class="form-label">Choose Classroom:</div>
          </td>
          <td></td>
        </tr>
          <td>
            <div class="dropdown simple">
              <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span>Kindergarten</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Grade 1</a></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="dropdown simple">
              <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span>Classroom 1</span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Classroom 2</a></li>
                <li><a href="#">Classroom 3</a></li>
              </ul>
            </div>
          </td>
          <td>
            <%= link_to 'Set', 'javascript:;', class: 'btn btn-warning btn-simple' %>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>

<div class="container kmSection">
  <div class="row">
    <h4>Choose Activities</h4>
    <table class="table">
      <thead>
        <tr>
          <td>Classroom</td>
          <td>Counting and<br>Cardinality to 20</td>
          <td>Base 10</td>
          <td>Number Line Model</td>
          <td>Count All</td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Kidergarten<br>Categories: Classroom 1</td>
        <% 4.times do |i| %>
          <% classname = i % 2 == 0 ? 'action-left' : 'action-right' %>
          <td>
            <div class="btn-multi btn-warning">
              <%= link_to 'javascript:;', class: "action #{classname}" do %>
                <div class="action-media">
                  <i class="fa fa-play"></i>
                </div>
                <div class="action-body">
                  <div>pause</div>
                </div>
              <% end %>
              <div class="extra-action">
                <div class="extra-container">
                  <div class="dropdown simple">
                    <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span>Classroom 1</span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Classroom 2</a></li>
                      <li><a href="#">Classroom 3</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
</div>