<div class="container-fluid kmSection">
  <div class="row content-tabs">
    <div class="container">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation">
          <%= link_to dashboard_path do%>
            Dashboard
            <span class="caret"></span>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to '#classroom', data: {toggle: 'tab'} do%>
            Classroom
            <span class="caret"></span>
          <% end %>
        </li>
        <li role="presentation" class="active">
          <%= link_to '#activities', data: {toggle: 'tab'} do%>
            Activities
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to '#teacher_mode', data: {toggle: 'tab'} do%>
            Teacher Mode
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Activities</h4>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row">
    <%= form_tag activities_path, method: :get do %>
      <table class="table inline solid fit">
        <tbody>
          <tr class="col-pad">
            <td>
              <h4>Choose Classroom Type:</h4>
            </td>
            <td>
              <h4>Choose Classroom:</h4>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div class="dropdown simple medium select classroomType">
                <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="value"><%= @current_classroom_type.type_name %></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <% @classroom_types.each do |ct| %>
                    <li><a href="javascript:" data-id="<%= ct.id %>"><%= ct.type_name %></a></li>
                  <% end %>
                </ul>
                <%= hidden_field_tag :classroom_type, @current_classroom_type.id %>
              </div>
            </td>
            <td>
              <div class="dropdown simple medium select classroom">
                <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="value"><%= @current_classroom.name %></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <% @classroom_hash[@current_classroom_type.id].each do |cr| %>
                    <li><a href="javascript:" data-id="<%= cr[0] %>"><%= cr[1] %></a></li>
                  <% end %>
                </ul>
                <%= hidden_field_tag :classroom, @current_classroom.id %>
              </div>
            </td>
            <td>
              <%= submit_tag 'Set', class: 'btn btn-warning btn-simple' %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="container kmSection">
  <div class="row">
    <h4>Choose Activities</h4>
    <table class="table fit">
      <thead>
        <tr>
          <th class="text-center">Classroom</th>
          <% BubbleGroup.pluck(:name).each do |bg_name| %>
            <th class="text-center"><%= bg_name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <tr class="text-center v-middle">
        <td class="text-center">
          <span class="text-main font-large"><%= @current_classroom_type.type_name %><br><%= @current_classroom.name %></span>
        </td>

        <td>
          <div class="btn-multi center-block">
            <%= link_to 'javascript:;', class: 'warning action action-right' do %>
              <div class="action-media">
                <i class="fa fa-play"></i>
              </div>
              <div class="action-body">
                <div></div>
              </div>
            <% end %>
            <div class="extra-action">
              <div class="extra-container">
                <div class="dropdown simple select">
                  <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="value">No Time</span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class="hidden"><a href="javascript:">No Time</a></li>
                    <li><a href="javascript:">2 Hours</a></li>
                    <li><a href="javascript:">1 Day</a></li>
                    <li><a href="javascript:">2 Days</a></li>
                    <li><a href="javascript:">5 Days</a></li>
                  </ul>
                  <input type="hidden" value="No Time">
                </div>
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="btn-multi center-block">
            <%= link_to 'javascript:', class: 'info action action-left' do %>
              <div class="action-media">
                <i class="fa fa-play"></i>
              </div>
              <div class="action-body">
                <div>pause</div>
              </div>
            <% end %>
          </div>
        </td>

        <td>
          <div class="btn-multi center-block">
            <%= link_to 'javascript:', class: 'success action action-left' do %>
              <div class="action-media">
                <i class="fa fa-pause"></i>
              </div>
              <div class="action-body">
                <div>80 min left</div>
              </div>
            <% end %>
          </div>
        </td>

      </tr>
      </tbody>


      <thead>
        <tr class="no-border-top">
          <th class="text-center">Students</th>
          <th colspan="999"></th>
        </tr>
      </thead>
      <tbody>
      <% @current_classroom.kids.each do |kid| %>
        <tr class="text-center v-middle">
          <td class="text-center">
            <span class="text-main font-large"><%= kid.full_name %></span>
          </td>
          <% BubbleGroup.all.find_each do |bg| %>
            <% assignment = @kid_assignments_hash[kid.id][bg.id] %>
                <td>
                  <% if assignment.none? %>
                    <%= form_for assignment do |f| %>
                      <%= f.hidden_field :status, value: Assignment::ACTIVE %>
                      <%= f.hidden_field :kid_id, value: kid.id %>
                      <%= f.hidden_field :bubble_group_id, value: bg.id %>
                        <div class="btn-multi center-block">
                          <%= link_to 'javascript:', class: 'warning action action-right' do %>
                            <div class="action-media">
                              <i class="fa fa-play"></i>
                            </div>
                            <div class="action-body">
                              <div></div>
                            </div>
                          <% end %>
                        <div class="extra-action">
                          <div class="extra-container">
                            <div class="dropdown simple select">
                              <a href="javascript:" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="value">No Time</span>
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <% @time_options.each do |to| %>
                                  <li><a href="javascript:" data-id="<%= to[1] %>"><%= to[0] %></a></li>
                                <% end %>
                              </ul>
                              <%= f.hidden_field :time_limit %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <% if assignment.inactive? %>
                    <%= form_for assignment do |f| %>
                      <%= f.hidden_field :status, value: Assignment::ACTIVE %>
                      <div class="btn-multi center-block">
                        <%= link_to 'javascript:', class: 'info action action-left' do %>
                          <div class="action-media">
                            <i class="fa fa-play"></i>
                          </div>
                          <div class="action-body">
                            <div>pause</div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                  <% if assignment.active? %>
                    <%= form_for assignment do |f| %>
                      <%= f.hidden_field :status, value: Assignment::INACTIVE %>
                      <div class="btn-multi center-block">
                        <%= link_to 'javascript:', class: 'success action action-left' do %>
                          <div class="action-media">
                            <i class="fa fa-pause"></i>
                          </div>
                          <div class="action-body">
                            <div><%= distance_of_time_in_words(assignment.time_left_in_seconds) + " left" %></div>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </td>
          <% end %>

        </tr>
      <% end %>
      <tr>
        <td colspan="999" class="text-right">
          <%= link_to 'Set All', 'javascript:', class: 'btn btn-warning btn-simple btn-large btn-wide' %>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<script>
  $(document).ready(function(){
    $('.action-media').click(function(){
      $(this).closest('form').submit();
    });

    initDropdownSelect(<%= @classroom_hash.to_json.html_safe %>);
  });
</script>
