<div class="container-fluid kmSection">
  <div class="row content-tabs">
    <div class="container">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active">
          <%= link_to '#dashboard', data: {toggle: 'tab'} do%>
            Dashboard
            <span class="caret"></span>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to classrooms_path do%>
            Classroom
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to activities_path do%>
            Activities
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to '#teacher_mode', data: {toggle: 'tab'} do%>
            Teacher Mode
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Average Play Time per Kid</h4>
      </div>
      <div class="pull-right">
        <div class="dropdown simple">
          <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><%= @current_classroom.name %></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% @classrooms.each do |cr| %>
              <li><%= link_to cr.name, dashboard_path(classroom:cr) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row text-center apt-head">
    <% @time_intervals_and_kids.each_with_index do |item, index| %>
      <div class="col-md-2 <%= index != 0 ? '' : 'col-md-offset-1'%>">
        <h1><%= item[:kids].count %> kids</h1>
        <p><%= item[:time_interval].join('-') %> minutes</p>
      </div>
    <% end %>
  </div>

  <% max_kid_count = @kids_count_per_timegroup.max{|a,b| a <=> b } %>
  <%# one row has a height of 40px %>
  <% row_height = 40 %>
  <% total_grid_height = max_kid_count * row_height %>
  <div class="row apt-body">
    <div class="col-md-1 font-xxlarge text-right apt-y-axis">
      <% (1..max_kid_count).to_a.reverse.each do |item| %>
        <div><%= item %></div>
      <% end %>
    </div>
    <% @time_intervals_and_kids.each_with_index do |item, index| %>
      <div class="col-md-2 apt-col">
        <div class="grid" style="height: <%= total_grid_height %>px;">
          <% current_row_height = @kids_count_per_timegroup[index] * row_height %>
          <% if current_row_height * 2 > total_grid_height %>
            <% tooltip_position = 'bottom' %>
            <% tooltip_anchor = "top: #{total_grid_height - current_row_height + row_height}px;" %>
          <% else %>
            <% tooltip_position = 'top' %>
            <% tooltip_anchor = "bottom: #{current_row_height}px;" %>
          <% end %>
          <div class="apt-bar" style="height: <%= current_row_height %>px;"></div>
          <div class="apt-tip <%= tooltip_position %>" style="<%= tooltip_anchor %>">
            <div class="apt-tip-content text-center">
              <h4>Kids</h4>
              <ul class="list-unstyled">
                <% item[:kids].each do |kid| %>
                  <li>
                    <%= link_to kid.full_name, kid %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="apt-x-axis text-center font-xxlarge">
          <%= "#{item[:time_interval].join('-')} minutes" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid kmSection">
  <div class="row kmSectionTitle">
    <div class="container">
      <div class="pull-left">
        <h4>Activity Progress</h4>
      </div>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-pills simple bordered nav-justified font-xlarge">
        <li role="presentation" class="active"><a href="#kindergarten" data-toggle="pill">Kindergarten</a></li>
        <li role="presentation"><a href="#first_grade" data-toggle="pill">First Grade</a></li>
      </ul>
    </div>
  </div>

  <div class="row kmSection text-center">
    <div class="dropdown simple">
      <a href="javascript:;" class="dropdown-toggle nowrap" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Classroom 1</span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#">Classroom 2</a></li>
        <li><a href="#">Classroom 3</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container kmSection">
  <div class="tab-content">
    <div class="tab-pane active" id="kindergarten" role="tabpanel">

      <div class="row kmSection">
        <ul class="nav nav-pills simple nav-justified nowrap">
          <li role="presentation" class="active"><a href="#kg_count_card_20" data-toggle="pill">Counting and Cardianlity to 20</a></li>
          <li role="presentation"><a href="#kg_base_10" data-toggle="pill">Base 10</a></li>
          <li role="presentation"><a href="#kg_number_line_model" data-toggle="pill">Number line model</a></li>
          <li role="presentation"><a href="#kg_count_all" data-toggle="pill">Addition and Subtraction: Count All</a></li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="kg_count_card_20" role="tabpanel">
          <%= render 'bar_chart', values: [15, 40, 10, 80], rows_count: 10 %>
        </div>

        <div class="tab-pane" id="kg_base_10" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <%= render 'bar_chart', title: 'Count', values: [75, 25], rows_count: 10 %>
            </div>
            <div class="col-md-6">
              <%= render 'bar_chart', title: 'Produce', values: [33, 66], rows_count: 10 %>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="kg_number_line_model" role="tabpanel">
          <%= render 'bar_chart', values: [15, 40, 10, 80], rows_count: 10 %>
        </div>

        <div class="tab-pane" id="kg_count_all" role="tabpanel">
          <%= render 'bar_chart', values: [20, 10, 15, 55], rows_count: 10 %>
        </div>

      </div>

    </div>

    <div class="tab-pane" id="first_grade" role="tabpanel">

      <div class="row kmSection">
        <ul class="nav nav-pills simple nav-justified nowrap">
          <li role="presentation" class="active"><a href="#g1_count_card_20" data-toggle="pill">Counting and Cardianlity to 20</a></li>
          <li role="presentation"><a href="#g1_base_10" data-toggle="pill">Base 10</a></li>
          <li role="presentation"><a href="#g1_number_line_model" data-toggle="pill">Number line model</a></li>
          <li role="presentation"><a href="#g1_count_all" data-toggle="pill">Count All</a></li>
          <li role="presentation"><a href="#g1_count_on" data-toggle="pill">Count On</a></li>
          <li role="presentation"><a href="#g1_compare" data-toggle="pill">Compare</a></li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="g1_count_card_20" role="tabpanel">
          <%= render 'bar_chart', values: [20, 10, 15, 55] %>
        </div>

        <div class="tab-pane" id="g1_base_10" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <%= render 'bar_chart', title: 'Count', values: [25, 75] %>
            </div>
            <div class="col-md-6">
              <%= render 'bar_chart', title: 'Produce', values: [33, 66] %>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="g1_number_line_model" role="tabpanel">
          <%= render 'bar_chart', values: [20, 10, 15, 55] %>
        </div>

        <div class="tab-pane" id="g1_count_all" role="tabpanel">
          <%= render 'bar_chart', values: [75, 100, 20, 50] %>
        </div>

        <div class="tab-pane" id="g1_count_on" role="tabpanel">
          <%= render 'bar_chart', values: [80, 60, 45, 15] %>
        </div>

        <div class="tab-pane" id="g1_compare" role="tabpanel">
          <%= render 'bar_chart', values: [30, 35, 75, 10] %>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container kmSection"></div>
