<div id="kmLoginPage">
  <%= render 'devise/shared/header' %>

  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#login_form">Login</a></li>
        <li role="presentation"><%= link_to 'Register', new_user_registration_path %> </li>
      </ul>
    </div>
  </div>
  <div class="tab-content container">
    <div class="tab-pane fade in active" id="login_form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:'form-horizontal'}) do |f| %>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <%= f.label :email, class: 'col-sm-4 control-label' %>
              <div class="col-sm-8">
                <%= f.email_field :email, class: 'form-control', placeholder: 'E-mail', autofocus: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'col-sm-4 control-label' %>
              <div class="col-sm-8">
                <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: "off" %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group hidden">
                <%= f.check_box :remember_me, checked: true %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

          </div>
        </div>

        <% if flash %>
          <div class="row text-right text-danger">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, id: "flash_#{name}", class: 'col-md-6 col-md-offset-3' %>
            <% end %>
          </div>
        <% end %>

        <div class="row text-center" id="login_problem">
          <div class="col-xs-12">
            <a href="javascript:;" id="forgot_password">Can't enter your account?</a>
          </div>
        </div>

        <div class="row text-right">
          <div class="col-md-6 col-md-offset-3">
            <%= f.submit "GO", id: 'go', class: 'img-circle' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
