<h1>Bubble Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bubble_categories.each do |bubble_category| %>
      <tr>
        <td><%= bubble_category.name %></td>
        <td><%= link_to 'Show', bubble_category %></td>
        <td><%= link_to 'Edit', edit_bubble_category_path(bubble_category) %></td>
        <td><%= link_to 'Destroy', bubble_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bubble category', new_bubble_category_path %>
