<%= form_for(@bubble_group) do |f| %>
  <% if @bubble_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bubble_group.errors.count, "error") %> prohibited this bubble_group from being saved:</h2>

      <ul>
      <% @bubble_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <h3>Select from existing classroom types</h3>
  <div class="field">
    <%= f.label :classroom_type_ids, "Classroom Types" %><br>
    <%= f.collection_select :classroom_type_ids, ClassroomType.all, :id, :type_name, {}, {multiple: true} %>
  </div>

  <h3>Select from existing posets</h3>
  <div class="field">
    <%= f.label :full_poset_id %><br>
    <%= f.collection_select :full_poset_id, Poset.all, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :forward_poset_id %><br>
    <%= f.collection_select :forward_poset_id, Poset.all, :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :backward_poset_id %><br>
    <%= f.collection_select :backward_poset_id, Poset.all, :id, :name, include_blank: true %>
  </div>

  <h3>Upload New Information</h3>
  <div class="field">
    Upload Bubbles: <%= f.file_field :bubble_file %>
  </div>

  <div class="field">
    Full Poset: <%= f.file_field :full_poset_file %>
  </div>

  <div class="field">
    Forward Poset: <%= f.file_field :forward_poset_file %>
  </div>

  <div class="field">
    Backward Poset: <%= f.file_field :backward_poset_file %>
  </div>

  <h3>Upload Bubble Games</h3>
  <div class="field">
    Bubble Games: <%= f.file_field :bubble_game_file %>
  </div>

  <h3>Upload Bubble Categories</h3>
  <div class="field">
    Bubble Categories: <%= f.file_field :bubble_category_file %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
