<p>
  <strong>Name:</strong>
  <%= @bubble_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bubble_group.description %>
</p>

<p>
  <strong>Full poset:</strong>
  <% if @bubble_group.full_poset %>
    <%= link_to @bubble_group.full_poset.name, @bubble_group.full_poset %>
  <% end %>
</p>

<p>
  <strong>Forward poset:</strong>
  <% if @bubble_group.forward_poset %>
    <%= link_to @bubble_group.forward_poset.name, @bubble_group.forward_poset %>
  <% end %>
</p>

<p>
  <strong>Backward poset:</strong>
  <% if @bubble_group.backward_poset %>
    <%= link_to @bubble_group.backward_poset.name, @bubble_group.backward_poset %>
  <% end %>
</p>

<table>
  <tr>
    <th>Bubbles</th>
    <th colspan="3"></th>
  </tr>
  <% @bubble_group.bubbles.each do |bubble| %>
    <tr>
      <td><%= link_to bubble.name, bubble %></td>
      <td><%= link_to 'Show', bubble %></td>
      <td><%= link_to 'Edit', edit_bubble_path(bubble) %></td>
      <td><%= link_to 'Destroy', bubble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Bubble', new_bubble_path(bubble_group_id: @bubble_group) %> |
<%= link_to 'Edit', edit_bubble_group_path(@bubble_group) %> |
<%= link_to 'Back', bubble_groups_path %>
