<%= form_for(@trigger) do |f| %>
  <% if @trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>

      <ul>
      <% @trigger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bubble_id %><br>
    <%= f.collection_select :bubble_id, Bubble.all, :id, :name, include_blank: false %>
  </div>
  <div class="field">
    <%= f.label :bubble_group_id, "Bubble Group" %><br>
    <%= f.collection_select :bubble_group_id, BubbleGroup.all, :id, :name, include_blank: false %>
  </div>

  <% if @trigger.new_record? %>
    <h3>Create from CSV</h3>
    <div class="field">
      Trigger CSV: <%= f.file_field :trigger_csv_file %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
