<%= form_for(@trigger) do |f| %>
  <% if @trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>

      <ul>
      <% @trigger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source_id %><br>
    <%= f.number_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :destination_id %><br>
    <%= f.number_field :destination_id %>
  </div>
  <div class="field">
    <%= f.label :poset_id %><br>
    <%= f.number_field :poset_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
