<%= render 'shared/section_title', title: @trigger.new_record? ? 'Create New Trigger' : 'Editing Trigger' %>

<div class="container kmSection">
  <%= form_for(@trigger, html: {class: 'form-horizontal form-classic form-vpad'}) do |f| %>
    <%= render 'shared/error_messages', object: @trigger %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render 'form_object_dropdown', f: f, type: :bubble_group, options: BubbleGroup.all %>
        <%= render 'form_object_dropdown', f: f, type: :bubble, options: Bubble.all %>

        <div class="form-group">
          <%= f.label :destination, "Destination", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <div class="dropdown select">
              <% bubble_groups = BubbleGroup.all %>
              <% bubble_groups.unshift(OpenStruct.new(id:nil, name:nil)) %>
              <a href="javascript:" class="dropdown-toggle nowrap form-control full-width" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="value"><%= '' %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <% bubble_groups.each do |group| %>
                  <li><a href="javascript:" data-id="<%= group.id %>"><%= group.name %></a></li>
                <% end %>
              </ul>
              <%= f.hidden_field :destination_id, value: nil %>
            </div>
          </div>
        </div>

        <% if @trigger.new_record? %>
          <div class="kmSection">
            <h4>Create from CSV</h4>
            <div class="form-group">
              <%= f.label :trigger_csv_file, "Trigger CSV:", class: "col-sm-4 control-label text-main" %>
              <div class="col-sm-8">
                <span class="form-alias"></span>
                <%= f.file_field :trigger_csv_file %>
              </div>
            </div>
          </div>
        <% end %>

        </div>
    </div>
    <div class="row text-center actions">
      <%= link_to 'Back', triggers_path, class: 'btn btn-danger btn-large btn-wide btn-simple' %>
      <% if @trigger.new_record? %>
        <%= f.submit 'Create Trigger', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% else %>
        <%= link_to 'Show', @trigger, class: 'btn btn-warning btn-large btn-wide btn-simple' %>
        <%= f.submit 'Update Trigger', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= form_tag update_bubbles_path, method: :get, remote: true, id: 'updateBubbles' do %>
  <%= hidden_field_tag :bubble_group_id, @trigger.bubble_group.try(:id) %>
<% end %>

<script>
  $(document).ready(function(){
    initTriggerDropdownSelect();
  });
</script>
