<%= form_for(@poset) do |f| %>
  <% if @poset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poset.errors.count, "error") %> prohibited this poset from being saved:</h2>

      <ul>
      <% @poset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :pass_threshold %><br>
    <%= f.number_field :pass_threshold %>
  </div>
  <div class="field">
    <%= f.label :fail_threshold %><br>
    <%= f.number_field :fail_threshold %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
