<%= render 'shared/section_title', title: @poset.new_record? ? 'Create New Poset' : 'Editing Poset' %>

<div class="container kmSection">
  <%= form_for(@poset, html: {class: 'form-horizontal form-classic form-vpad'}) do |f| %>
    <%= render 'shared/error_messages', object: @poset %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="form-group">
          <%= f.label :name, "Name", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :pass_threshold, "Pass Threshold", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :pass_threshold, placeholder: 'Pass Threshold', class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :fail_threshold, "Fail Threshold", class: "col-sm-4 control-label text-main" %>
          <div class="col-sm-8">
            <%= f.text_field :fail_threshold, placeholder: 'Fail Threshold', class: 'form-control' %>
          </div>
        </div>

      </div>
    </div>
    <div class="row text-center actions">
      <%= link_to 'Back', posets_path, class: 'btn btn-danger btn-large btn-wide btn-simple' %>
      <% if @poset.new_record? %>
        <%= f.submit 'Create Poset', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% else %>
        <%= link_to 'Show', @poset, class: 'btn btn-warning btn-large btn-wide btn-simple' %>
        <%= f.submit 'Update Poset', class: 'btn btn-info btn-large btn-wide btn-simple' %>
      <% end %>
    </div>
  <% end %>
</div>
