<h1>Posets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bubbles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posets.each do |poset| %>
      <tr>
        <td><%= poset.name %></td>
        <td><%= poset.bubbles.count %></td>
        <td><%= link_to 'Show', poset %></td>
        <td><%= link_to 'Edit', edit_poset_path(poset) %></td>
        <td><%= link_to 'Destroy', poset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poset', new_poset_path %>
