<!DOCTYPE html>
<html>
<head>
  <title>KidsPlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="hidden">
  <% if user_signed_in? %>
   Signed in as <%= current_user.full_name %>. Not you?
   <%= link_to "Edit profile", edit_user_registration_path %>
   <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

  <% end %>
</div>

<%= render 'shared/header' %>
<% unless current_user.parent? %>
  <%= render 'shared/menu' %>
<% end %>
<%= yield %>
<%= render 'shared/footer' %>

</body>
</html>
